.landing {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
}

.logo {
    width: 40px;
    image-orientation: flip;
}

.links {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
